node_modules
dist
dist-*
*-dist
.turbo
.nuxt
.next
.output
.temp
tmp
coverage
pnpm-lock.yaml
yarn.lock
bun.lockb
package-lock.json
*.min.*
fixtures
__snapshots__
*.snap
LICENSE*
public
.github
.claude
lefthook.yml
.vite-inspect
.vitepress/cache

**/*.svg
**/*.sh
.npmrc
public
dist
dev-dist
.local
.output.js
node_modules
.nvmrc
coverage
CODEOWNERS
.nitro
.output
