.layplux-root {
  position: relative;
  width: 100%;
  height: 100%;
  contain: strict;
  font-family: var(--layplux-font-family);
  font-size: var(--layplux-font-size-base);
  color: hsl(var(--layplux-foreground));
  background-color: hsl(var(--layplux-root-background));
  isolation: isolate;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
