.layplux-skeleton {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;

  &__body {
    display: flex;
    flex: 1;
    min-height: 0;
  }

  &__stripe {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    min-width: 6px;

    &-top {
      flex: 1;
      overflow: hidden auto;
    }

    &-separator {
      flex-shrink: 0;
      width: 24px;
      height: 1px;
      margin: 4px auto;
      background: hsl(var(--layplux-border));
    }
  }

  &__center {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
  }
}
