.layplux-root.dark,
.layplux-root.dark[data-theme='custom'],
.layplux-root.dark[data-theme='default'] {
  --layplux-background: 222.34deg 10.43% 12.27%;
  --layplux-background-deep: 220deg 13.06% 9%;
  --layplux-foreground: 0 0% 95%;
  --layplux-card: 222.34deg 10.43% 12.27%;
  --layplux-card-foreground: 210 40% 98%;
  --layplux-popover: 0 0% 14.2%;
  --layplux-popover-foreground: 210 40% 98%;
  --layplux-muted: 240 3.7% 15.9%;
  --layplux-muted-foreground: 240 5% 64.9%;
  --layplux-primary-foreground: 0 0% 98%;
  --layplux-destructive: 359.21 68.47% 56.47%;
  --layplux-destructive-foreground: 0 0% 98%;
  --layplux-info: 180 1.54% 12.75%;
  --layplux-info-foreground: 220 4% 58%;
  --layplux-success: 144 57% 58%;
  --layplux-success-foreground: 0 0% 98%;
  --layplux-warning: 42 84% 61%;
  --layplux-warning-foreground: 0 0% 98%;
  --layplux-secondary: 240 5% 17%;
  --layplux-secondary-foreground: 0 0% 98%;
  --layplux-accent: 216 5% 19%;
  --layplux-accent-dark: 240 0% 22%;
  --layplux-accent-darker: 240 0% 26%;
  --layplux-accent-lighter: 216 5% 12%;
  --layplux-accent-hover: 216 5% 24%;
  --layplux-accent-foreground: 0 0% 98%;
  --layplux-heavy: 216 5% 24%;
  --layplux-heavy-foreground: var(--layplux-accent-foreground);
  --layplux-border: 240 3.7% 22%;
  --layplux-input: 0deg 0% 100% / 10%;
  --layplux-input-placeholder: 218deg 11% 65%;
  --layplux-input-background: 0deg 0% 100% / 5%;
  --layplux-ring: 222.2 84% 4.9%;
  --layplux-radius: 0.5rem;
  --layplux-overlay: 0deg 0% 0% / 40%;
  --layplux-overlay-content: 0deg 0% 0% / 40%;
  --layplux-font-size-base: 16px;
  --layplux-sidebar: 222.34deg 10.43% 12.27%;
  --layplux-sidebar-deep: 220deg 13.06% 9%;
  --layplux-menu: var(--layplux-sidebar);
  --layplux-header: 222.34deg 10.43% 12.27%;
  --layplux-root-background: 210 6% 14%;

  color-scheme: dark;
}
