.layplux-panel {
  position: relative;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  background-color: hsl(var(--layplux-sidebar-deep));
  border: 1px solid hsl(var(--layplux-border));

  &--undocked {
    position: absolute;
    z-index: 100;

    // 初始位置，后续拖拽会覆盖
  }

  &--undocked-left {
    top: 0;
    left: 0;
    width: var(--left-panel-width, 240px);
    height: 100%;
  }

  &__body {
    flex: 1;
    min-height: 0;
    overflow: hidden auto;
  }

  &__content {
    height: 100%;
    min-height: 0;
  }
}
