.layplux-panel {
  position: relative;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  overflow: hidden;
  background-color: #eee;
  border: 1px solid hsl(var(--layplux-border));
}
